.chapter-number {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  background: transparent url('/img/brush.svg') center/contain no-repeat;
  color: white;
  font-weight: $font-weight-extra;
  text-align: center;
  font-size: 3rem;
}

li {
  margin-bottom: 1rem;
}

dt, dd {
  margin-left: 2rem;
}

em {
  color: #d56868;
}

code {
  font-size: 110%;
  white-space: nowrap;
}

var {
  font-family: 'Ubuntu Mono', monospace;
  font-style: normal;
  font-size: 110%;
  color: $text-emphasis;
}

pre {
  font-family: 'Ubuntu Mono', monospace;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  overflow-x: auto;
  font-size: 110%;
}

table {
  margin: 2rem auto 3rem auto;
  
  th, td {
    padding: 0.5rem 1rem;
  }
}

.no-wrap {
  white-space: nowrap;
}

.wrong {
  color: red;
  text-decoration: line-through;
}

.lesson-section, .exercises-section {
  padding: 1rem 0rem 4rem 0rem;
}

.lesson-section, .solution-body {
  color: $text-primary !important;
  
  pre {
    background-color: #eee !important;
    color: $text-primary !important;
  } 

  thead {
    background-color: white;
    font-weight: bold;
    border-bottom: 3px solid black;
  }

  tr:nth-child(even) {
    background-color: #ffffb9;
  }
  
}

.exercises-section {
  color: $white;
  background-color: $bg-secondary;

  h2, h3 {
    color: white;
  }

  pre {
    background-color: #555;
    color: white;
  } 

  a {
    color: $gray-400;
  }

  code {
    color: white;
  }

  tr:nth-child(even) {
    background-color: #5151b9;
  }
}

.exercise {
  margin-bottom: 2rem;

  ol {
    list-style-type: lower-alpha;
  }
}

.exercise-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 2px solid white;

  h3 {
    margin: 1rem 0rem;
  }
}

.exercise-num {
  background: transparent url('/img/brush-white.svg') center/contain no-repeat;
  color: $bg-secondary;
  flex: 0 0 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-weight: $font-weight-extra;
  text-align: center;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.alert {
  padding: 2rem 0rem;
}

.alert-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.alert-body {
  p {
    margin-bottom: 0;
  }
}

.alert-title {
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.alert-icon {
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 0 0 4rem;
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
}

.alert-icon-done {
  background-image: url('/img/icon-done.svg');
}

.alert-icon-warning {
  background-image: url('/img/icon-warning.svg');
}

.alert-done {
  color: white;
  background-color: $bg-alert;
}

.alert-warning {
  color: white;
  background-color: $bg-caution;
  margin-top: 3rem;
}

.figure {
  text-align: center;
  margin-bottom: 1rem;
  
  &__img-600 {
    width: 100%;
    max-width: 600px;
  }
}